<h1>Actor #<%=@id_num%> details</h1>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%=@act.name%>
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
    <%=@act.dob%>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
    <%=@act.bio%>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="https://robohash.org/<%=@act.image%>">
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%=time_ago_in_words(@act.created_at)%> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%=time_ago_in_words(@act.updated_at)%> ago
  </dd>
</dl>

<h2>Filmography</h2>

<table border="1">
<tr>
    <td>
      Title
    </td>
    <td>
      Year
    </td>
    <td>
      Director
    </td>
    <td>
      Character name
    </td>
    <td>
      
    </td>
  </tr>
<% @roles.each do |a_role|%>
  <tr>
    <td>
      <%=Movie.where({ :id => a_role.movie_id}).at(0).title%>
    </td>
    <td>
      <%=Movie.where({ :id => a_role.movie_id}).at(0).year%>
    </td>
    <td>
      <%=Director.where({ :id => Movie.where({ :id => a_role.movie_id}).at(0).director_id}).at(0).name%>
    </td>
    <td>
      <%=a_role.name%>
    </td>
    <td>
      <a href="/movies/<%=a_role.movie_id%>">
      Show details
    </td>
  </tr>
<%end%>
